/* form */
.Form-input {
    background-color: blanchedalmond;
    text-align: center;
    text-align: end;
}

.Form-label {
    font-weight: 900;
    color: silver;
    text-align: justify;
    
}

.submit-button {
    background-color: gold;
    font-size: 20px;
    padding: 20px;
    border-radius: 50px;
    font-weight: 800;
    
}

#form-backround {
    background: url("https://i.pinimg.com/originals/79/24/ec/7924eccaf6779819242591fab54021e5.jpg");
    /* display: flexbox; */
    height: 100vh;
    background-size: cover;
    text-align: center;
}

/* FantasyTeams.js */

.fantasy-teams-header {
    color: blue;
    background-color: burlywood;
    text-decoration: underline;
}

.all-fantasy-teams {  
    color: red;
    background-color: rgb(0, 217, 255);
    font-weight: 900;
    font-size: 8mm;
    text-align-last: center;
    flex-wrap: wrap;
}



.fantasy-team-backround {
    background: url('https://cdn.vox-cdn.com/thumbor/2EWRC6pbCPZ0jNbSpOHqiTP8DbU=/0x0:4500x3000/1200x800/filters:focal(1110x659:1830x1379)/cdn.vox-cdn.com/uploads/chorus_image/image/69919284/1235455680.0.jpg');
    text-align: center;
    height: 100vh;

}



#fantasy-team-show {
    background:url('https://images2.minutemediacdn.com/image/upload/c_fill,w_720,ar_16:9,f_auto,q_auto,g_auto/shape/cover/sport/Real-Madrid-v-Liverpool---UEFA-Champions-League-Fi-1135101713f01481961d87fe432a2817.jpg');
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: 1500px;
    height: 300vh;
    background-color: lightgreen;
    text-align: center;
}
.fantasy-team-details {
    text-align: center;
    
}

.team-details {
  text-align: center;
  border: 4px solid black;
  background-color: rgb(181, 189, 107);
  color: rgb(168, 46, 8);
  font-weight: 800;
}

.team-details2 {
    text-align: center;
}

.fantasy-team-buttons {
    background-color: coral;
    color: indigo;
    font-weight: 800;
    border-radius: 10px;
    font-weight: 800;
     
  
 
}

