#homepage {
  background-color: aqua;
  height: 100vh;
  width: auto;
  background: url('https://editorial.uefa.com/resources/0253-0d8059a03ba5-8b483f26668d-1000/part_of_the_new_brand_s_visual_identity_the_new_ultimate_stage_stadium.jpeg')
}