.teams {
    text-align: center;
    align-content: center;
    
}

.team-list {
    border-radius: 50px;
    text-align: center;
    background: cornflowerblue;
    font-weight: 900;
}

.select {
    background: rgb(109, 165, 190);
    text-align: center;
    font-weight: 900;
}

.selected-team {
    background: blanchedalmond;
    border-radius: 40px;
    color: blue;    
    font-size: 30px;
    font-weight: 900;
}

.show-players-button {
    background: chocolate;
    font-weight: 800;
}